################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MvcMovie/bin/Debug/netcoreapp3.1
/MvcMovie/obj/Debug/netcoreapp3.1
/MvcMovie/MvcMovie.csproj.user
